<app-bread-crumb
    [items]="[{text: 'Categorias', link: '/categories'}, {text: pageTitle}]"
></app-bread-crumb>

<app-page-header
    [page-title]="pageTitle"
    button-text="Volta"
    button-link="/categories"
    button-class="btn-dark"
></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">

    <div class="card">
        <div class="card-header">
            Informações sobre categoria
        </div>

        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" formControlName="name">

                <div class="text-danger" *ngIf="resourceForm.get('name').invalid && resourceForm.get('name').touched">
                    <div *ngIf="resourceForm.get('name').errors.required">Dado Obrigatório</div>
                    <div *ngIf="resourceForm.get('name').errors.minlength">Minimo 2 caracteres</div>
                </div>
            </div>

                <div class="form-group col-md-8">
                    <label for="description">Descrição</label>
                    <input type="text" class="form-control" id="description" formControlName="description">
                </div>
            </div>
        </div>

        <div class="offset-md-9 col-md-3">
            <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-1 mb-2">
                Salvar
            </button>

        </div>
    </div>
    

</form>

<div class="alert alert-danger mt-3" *ngIf="serverErrorMessages">
    <strong>
        <ul *ngFor="let error of serverErrorMessages">
            <li>{{error}}</li>
        </ul>
    </strong>
</div>